.App {
  display: flex;
  margin: 20px;
  align-items: center;
  flex-direction: column;
}

.App .header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin-bottom: 10px;
}

.App .header-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .header > div {
  flex-grow: 1;
}

.App .header .moveo-logo {
  display: none;
}

@media only screen and (min-width: 500px){
  .App .header{
    flex-direction: row;
  }

  .App .header .moveo-logo{
    display: flex;
    justify-content: flex-end;
  }

}